# PrestaShop
/modules/productbadges/vendor/
/modules/productbadges/node_modules/

# Cache y logs generados por el entorno local de PS
/var/
/cache/
/log/

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# PHP
*.log
